<h1>{{ title }}</h1>

<div class="search-section">
  <label for="fechaInicial">Fecha Inicial:</label>
  <input type="date" id="fechaInicial" [(ngModel)]="fechaInicial">

  <label for="fechaFinal">Fecha Final:</label>
  <input type="date" id="fechaFinal" [(ngModel)]="fechaFinal">

  <button (click)="buscarActividadesPorFecha()">Buscar Actividades</button>
</div>

<div class="search-section">
  <label for="lugar">Lugar:</label>
  <input type="text" id="lugar" [(ngModel)]="lugar">
  <button (click)="buscarActividadesPorLugar()">Buscar Actividades por Lugar</button>
</div>

<div class="search-section">
    <label for="categoria">Categoría:</label>
    <select id="categoria" [(ngModel)]="selectedCategoria">
      <option value="formacion">Formación</option>
      <option value="academica">Académica</option>
      <option value="laboral">Laboral</option>
      <option value="divulgativa">Divulgativa</option>
    </select>
  
    <button (click)="buscarActividadesPorCategoria()">Buscar Actividades</button>
  </div>

  <div *ngIf="actividades.length > 0">
    <h2>Actividades Encontradas:</h2>
    <div class="actividades-grid">
      <div *ngFor="let actividad of actividades" class="actividad-item">
        <app-activities [actividad]="actividad"></app-activities>
      </div>
    </div>
  </div>
<!-- Aquí puedes mostrar las actividades obtenidas -->
<!-- <div *ngIf="actividades.length > 0"> -->
    <!-- <h2>Actividades Encontradas:</h2> -->
    <!-- <ul> -->
      <!-- <li *ngFor="let actividad of actividades" class="actividad-item"> -->
        <!--{{ actividad.titulo }} - {{ actividad.ponente }}-->
        <!-- <app-activities [actividad]="actividad"></app-activities> -->
      <!-- </li> -->
    <!-- </ul> -->
  <!-- </div> -->